body {
    background: hsl(212, 45%, 89%);
}
.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 5% auto;
    border-radius: 1rem;
    background: hsl(0, 0%, 100%);
}
.flex img{
    max-width: 260px;
}

.alinhamento {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Outfit', sans-serif;
}
.alinhamento img{
    margin: 20px auto;
    border-radius: 1rem;
}
.alinhamento h1 {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
}
.alinhamento p {
    font-size: 15px;
    margin: 20px auto 45px auto;
    text-align: center;
    color: hsl(220, 15%, 55%);
}

